.MainView {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.MainView .MainView-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  color: #eee;
  background-color: #333;
}
.MainView .MainView-nav .add-group {
  position: absolute;
  top: 15px;
  right: 15px;
}
.MainView .MainView-content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}
.MainView .MainView-content .content-container {
  margin-top: 20px;
  margin-left: 360px;
  width: 600px;
}
.MainView .MainView-content .content-container .group-ctn {
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
}
.MainView .MainView-content .content-container .group-ctn:last-child {
  border-bottom: 1px #ccc solid;
}
.MainView .MainView-content .content-container .group-ctn .group-title {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  padding: 4px 0 4px 20px;
  border-top: 1px #ccc solid;
  background-color: #eee;
}
.MainView .MainView-content .content-container .group-ctn .group-title .add-contact {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  color: #FFF;
}
.MainView .MainView-content .content-container .group-ctn .group-title .delete-group {
  float: right;
  margin-top: 5px;
  margin-right: 16px;
}
.MainView .MainView-content .content-container .group-ctn .contact-title,
.MainView .MainView-content .content-container .group-ctn .contact-info {
  text-align: center;
}
.MainView .MainView-content .content-container .group-ctn .contact-title .info,
.MainView .MainView-content .content-container .group-ctn .contact-info .info {
  line-height: 40px;
  padding: 5px 0 5px 0;
  border-top: 1px #ccc solid;
}
.MainView .MainView-content .content-container .group-ctn .contact-title .contactId,
.MainView .MainView-content .content-container .group-ctn .contact-info .contactId {
  float: left;
  width: 40px;
}
.MainView .MainView-content .content-container .group-ctn .contact-title .contactName,
.MainView .MainView-content .content-container .group-ctn .contact-info .contactName {
  float: left;
  width: 160px;
}
.MainView .MainView-content .content-container .group-ctn .contact-title .address,
.MainView .MainView-content .content-container .group-ctn .contact-info .address {
  float: left;
  width: 240px;
}
.MainView .MainView-content .content-container .group-ctn .contact-title .edit,
.MainView .MainView-content .content-container .group-ctn .contact-info .edit {
  float: left;
  width: 80px;
}
.MainView .MainView-content .content-container .group-ctn .contact-title .delete,
.MainView .MainView-content .content-container .group-ctn .contact-info .delete {
  height: 40px;
}
.MainView .MainView-content .content-container .group-ctn .contact-title .delete .btn,
.MainView .MainView-content .content-container .group-ctn .contact-info .delete .btn {
  display: block;
  margin-top: 6px;
}

