.MainView {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.MainView .MainView-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  color: #eee;
  background-color: #333;
}
.MainView .MainView-nav .add-group {
  position: absolute;
  top: 15px;
  right: 145px;
}
.MainView .MainView-nav .add-contact {
  position: absolute;
  top: 15px;
  right: 15px;
}
.MainView .MainView-content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}
.MainView .MainView-content .group-ctn .group-title {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  padding: 4px 0 4px 20px;
  border-top: 1px #ccc solid;
  background-color: #eee;
}
.MainView .MainView-content .group-ctn .group-title .add-contact {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  color: #FFF;
}
.MainView .MainView-content .group-ctn .group-title .delete-group {
  float: right;
  margin-top: 5px;
  margin-right: 16px;
}
.MainView .MainView-content .group-ctn .contact-title,
.MainView .MainView-content .group-ctn .contact-info {
  height: 60px;
  text-align: center;
}
.MainView .MainView-content .group-ctn .contact-title .info,
.MainView .MainView-content .group-ctn .contact-info .info {
  float: left;
  line-height: 40px;
  padding: 5px 0 5px 0;
  border-top: 1px #ccc solid;
}
.MainView .MainView-content .group-ctn .contact-title .contactId,
.MainView .MainView-content .group-ctn .contact-info .contactId {
  width: 40px;
}
.MainView .MainView-content .group-ctn .contact-title .contactName,
.MainView .MainView-content .group-ctn .contact-info .contactName {
  width: 160px;
}
.MainView .MainView-content .group-ctn .contact-title .address,
.MainView .MainView-content .group-ctn .contact-info .address {
  width: 240px;
}
.MainView .MainView-content .group-ctn .contact-title .edit,
.MainView .MainView-content .group-ctn .contact-info .edit {
  width: 160px;
  text-align: right;
}
.MainView .MainView-content .group-ctn .contact-title .delete,
.MainView .MainView-content .group-ctn .contact-info .delete {
  width: 160px;
  height: 48px;
  text-align: right;
  border-right: 1px solid #ccc;
}
.MainView .MainView-content .group-ctn .contact-title .delete .btn,
.MainView .MainView-content .group-ctn .contact-info .delete .btn {
  margin-right: 15px;
}

